/* Global */
.page-header {
    margin-top: 0;
}



/* Home page */
body.home {
    background: url(/img/rule-zero.jpg) no-repeat center center fixed;
    background-size: cover;
}
body.home .panel {
    opacity: 0.9;
    margin-top: 50px;
}


/* Logo in the navbar - http://bootsnipp.com/snippets/featured/navbar-with-logo */
.navbar .brand-logo{
    padding: 0 10px;
}
.brand-logo img{
    margin-top: 5px
}
.brand-name-short {
    display: none;
}
@media (max-width:768px) {
    .brand-name-short {
        display: block;
    }
    .brand-name-full {
        display: none;
    }
}



/* Login Form */
.login-container{
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    opacity: 0.98;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.login-container .form-group {
    margin-bottom: 0;
}
.login-container input.form-control{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    background: #fafafa;
    transition:0.2s ease-in-out;
}
.login-container input:focus{
    outline: 0;
    background: #eee;
}
.login-container input[name="email"]{
    border-radius: 5px 5px 0 0;
}
.login-container input[name="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}
.login-container input[type="submit"]{
    margin-top:15px;
    padding: 10px 20px;
}
.login-container .bottom-links {
    margin-top:20px;
}

.register-container{
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
    opacity: 0.98;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
body.register_login {
    background: url(/img/rule-zero.jpg) no-repeat center center fixed;
    background-size: cover;
}
body.register_login .top-alerts {
    display: none;
}


/* Alerts */
.alert-danger, .alert-success {
    border: 0;
    border-left: 3px solid;
}


/* Panel Pagination */
.panel-footer .pagination {
    margin: 0;
}


/* Public member page */
.member-grid {
    text-align: center;
}