
#pageTitle {
  //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  background-color: @brand-primary;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  position: relative;
  min-height: 170px; //120


  .titles {
    font-size: 24px;
    line-height: 64px;
    color: #FFF;
    margin: 00px auto;
    overflow: hidden;
    padding-top: 103px;

    .title {
      margin:10px 20px;
      float:left;
      a {
        color: #FFF;
      }
    }
    img {
      float: left;
      margin: 10px 20px;
      margin-right:0;
      transition: all .1s;
      margin-top: -50px;
    }
    .action-buttons {
      margin-right: 20px;
      transition: margin 0.2s;
    }
  }
}

.fixedHeader .action-buttons {
  margin-top: -200px;
}

//On the home and register page don't render the title block
body.home #pageTitle, body.register_login #pageTitle {
  display: none;
}

//Scrolled down the page
#bodyWrap.fixedHeader {

  #pageTitle {
    min-height: 64px;
    height: initial;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    position: fixed;
    padding-left: 240px;

    .titles {
      padding-top: 0px;

      img {
        width: 0px;
        height: 0px;
        margin:0;
      }
    }
  }
  .menuToggleButton {
    padding-top: 11px;
  }

}

.menuToggleButton {
  position: relative;
  float: left;
  padding: 112px 10px 0 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.75);
    margin-left: 3px;

    & + .icon-bar {
      margin-top: 4px;
    }
  }
  .menu-label {
    color: rgba(255, 255, 255, 0.75);
    font-size: 75%;
    font-weight: 700;
  }
}

@media screen and (max-width: @screen-sm-min) {
  #pageTitle .titles h1 {
    font-size: @font-size-h1 * 0.66;
    margin-top: 20px !important;
  }
}

@media screen and (max-width: @screen-lg) {

    #pageTitle {
      padding-left: 0 !important;
    }
  .siteFooter {
    padding-left: 0 !important;
  }

}
@media screen and (min-width: @screen-lg) {
  //Large screen size

  .menuToggleButton {
    display: none;
  }

}


